In [34]:
import pandas as pd
from pathlib import Path
import numpy as np
from sklearn.cluster import KMeans

In [35]:
eur_usd = pd.read_csv(
    Path('../algo-ml-trader/resources/6mo of 30min eur usd.csv'),
    index_col='Date',
    parse_dates=True,
    infer_datetime_format=True
)
eur_usd['slope'] = np.nan
eur_usd.head()

                     Last Price  slope
Date
2022-05-05 17:00:00      1.0544    NaN
2022-05-05 17:30:00      1.0542    NaN
2022-05-05 18:00:00      1.0542    NaN
2022-05-05 18:30:00      1.0550    NaN
2022-05-05 19:00:00      1.0539    NaN

In [48]:
eur_usd['slope'] = eur_usd['Last Price'].diff()/eur_usd['Date'].diff()
eur_usd.head()

TypeError: Cannot divide float64 data by TimedeltaArray

In [47]:
eur_usd = eur_usd.reset_index()
eur_usd

,index,Date,Last Price,slope,10_sma,20_sma,signal,Entry/Exit
0,0,2022-05-05 17:00:00,1.0544,NaN,NaN,NaN,0,NaN
1,1,2022-05-05 17:30:00,1.0542,-0.000190,NaN,NaN,0,0.0
2,2,2022-05-05 18:00:00,1.0542,0.000000,NaN,NaN,0,0.0
3,3,2022-05-05 18:30:00,1.0550,0.000758,NaN,NaN,0,0.0
4,4,2022-05-05 19:00:00,1.0539,-0.001044,NaN,NaN,0,0.0
...,...,...,...,...,...,...,...,...
5038,5038,2022-09-27 21:30:00,0.9559,-0.000105,0.95833,0.958645,0,0.0
5039,5039,2022-09-27 22:00:00,0.9553,-0.000628,0.95790,0.958460,0,0.0
5040,5040,2022-09-27 22:30:00,0.9550,-0.000314,0.95744,0.958305,0,0.0
5041,5041,2022-09-27 23:00:00,0.9563,0.001359,0.95719,0.958210,0,0.0
5042,5042,2022-09-27 23:30:00,0.9560,-0.000314,0.95691,0.958085,0,0.0

In [38]:
eur_usd['10_sma']=eur_usd["Last Price"].rolling(10).mean()
eur_usd['20_sma']=eur_usd["Last Price"].rolling(20).mean()

In [39]:
eur_usd.head()

                     Last Price     slope  10_sma  20_sma
Date
2022-05-05 17:00:00      1.0544       NaN     NaN     NaN
2022-05-05 17:30:00      1.0542 -0.000190     NaN     NaN
2022-05-05 18:00:00      1.0542  0.000000     NaN     NaN
2022-05-05 18:30:00      1.0550  0.000758     NaN     NaN
2022-05-05 19:00:00      1.0539 -0.001044     NaN     NaN

In [40]:
eur_usd["signal"]=np.where(eur_usd["10_sma"]>eur_usd["20_sma"],1,0)

In [41]:
eur_usd['slope'].describe()

count    5042.000000
mean       -0.000020
std         0.000984
min        -0.012951
25%        -0.000474
50%         0.000000
75%         0.000393
max         0.007749
Name: slope, dtype: float64

In [44]:
eur_usd['Entry/Exit'] = eur_usd['signal'].diff()
eur_usd.head(40)

,Last Price,slope,10_sma,20_sma,signal,Entry/Exit
Date,,,,,,
2022-05-05 17:00:00,1.0544,NaN,NaN,NaN,0,NaN
2022-05-05 17:30:00,1.0542,-0.000190,NaN,NaN,0,0.0
2022-05-05 18:00:00,1.0542,0.000000,NaN,NaN,0,0.0
2022-05-05 18:30:00,1.0550,0.000758,NaN,NaN,0,0.0
2022-05-05 19:00:00,1.0539,-0.001044,NaN,NaN,0,0.0
2022-05-05 19:30:00,1.0540,0.000095,NaN,NaN,0,0.0
2022-05-05 20:00:00,1.0543,0.000285,NaN,NaN,0,0.0
2022-05-05 20:30:00,1.0541,-0.000190,NaN,NaN,0,0.0
2022-05-05 21:00:00,1.0532,-0.000855,NaN,NaN,0,0.0
2022-05-05 21:30:00,1.0526,-0.000570,1.05399,NaN,0,0.0
2022-05-05 22:00:00,1.0527,0.000095,1.05382,NaN,0,0.0
2022-05-05 22:30:00,1.0529,0.000190,1.05369,NaN,0,0.0
2022-05-05 23:00:00,1.0535,0.000570,1.05362,NaN,0,0.0
2022-05-05 23:30:00,1.0533,-0.000190,1.05345,NaN,0,0.0
2022-05-06 00:00:00,1.0528,-0.000475,1.05334,NaN,0,0.0
2022-05-06 00:30:00,1.0532,0.000380,1.05326,NaN,0,0.0
2022-05-06 01:00:00,1.0534,0.000190,1.05317,NaN,0,0.0
2022-05-06 01:30:00,1.0522,-0.001140,1.05298,NaN,0,0.0
2022-05-06 02:00:00,1.0509,-0.001237,1.05275,NaN,0,0.0
2022-05-06 02:30:00,1.0487,-0.002098,1.05236,1.053175,0,0.0
2022-05-06 03:00:00,1.0507,0.001903,1.05216,1.052990,0,0.0
2022-05-06 03:30:00,1.0521,0.001331,1.05208,1.052885,0,0.0
2022-05-06 04:00:00,1.0550,0.002749,1.05223,1.052925,0,0.0
2022-05-06 04:30:00,1.0557,0.000663,1.05247,1.052960,0,0.0
2022-05-06 05:00:00,1.0557,0.000000,1.05276,1.053050,0,0.0
2022-05-06 05:30:00,1.0570,0.001230,1.05314,1.053200,0,0.0
2022-05-06 06:00:00,1.0590,0.001889,1.05370,1.053435,1,1.0
2022-05-06 06:30:00,1.0589,-0.000094,1.05437,1.053675,1,0.0
2022-05-06 07:00:00,1.0582,-0.000662,1.05510,1.053925,1,0.0
2022-05-06 07:30:00,1.0566,-0.001514,1.05589,1.054125,1,0.0
2022-05-06 08:00:00,1.0572,0.000568,1.05654,1.054350,1,0.0
2022-05-06 08:30:00,1.0554,-0.001706,1.05687,1.054475,1,0.0
2022-05-06 09:00:00,1.0582,0.002646,1.05719,1.054710,1,0.0
2022-05-06 09:30:00,1.0573,-0.000851,1.05735,1.054910,1,0.0
2022-05-06 10:00:00,1.0577,0.000378,1.05755,1.055155,1,0.0
2022-05-06 10:30:00,1.0581,0.000378,1.05766,1.055400,1,0.0
2022-05-06 11:00:00,1.0592,0.001039,1.05768,1.055690,1,0.0
2022-05-06 11:30:00,1.0571,-0.001987,1.05750,1.055935,1,0.0
2022-05-06 12:00:00,1.0575,0.000378,1.05743,1.056265,1,0.0
2022-05-06 12:30:00,1.0569,-0.000568,1.05746,1.056675,1,0.0